<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Beta Fantasy</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        #background{
            /* The image used */
            background-image: url("https://www.gymclimber.com/wp-content/uploads/2019/04/46827264264_c6f3c43c36_o-e1556125029532-1.jpg");

            /* Full height */
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        body {
        padding-top:80px;
        word-wrap:break-word;
        }
        #loginButtons {
            right: 10px;
            position: absolute;
            top: 10px;
        }
        h1{
          position:absolute;
          top: 10px;
          text-align: left;
          font-size: 130px;
          text-shadow: 2px 2px #d10d0d;
          color: #d6d62b;
        }
        #message1{
          font-style: italic;
          color: deepskyblue;
          top: 200px;
          position: relative;
          text-shadow: 4px 8px black;
          font-size: 62px;
          text-align: left;
          width:850px;
        }
        #steps{
          color: white;
          top: 250px;
          font-size: 35px;
          position: relative;
          text-shadow: 2px 2px black;
          text-align: left;
        }

           </style>
</head>
<body>
      <div id="background"></div>
      <h1>Beta Fantasy</h1>

        <div id="loginButtons">

        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
      </div>


      <div id="message1">
        Welcome to the very first online climbing fantasy game
      </div>
      <div id="steps">
        Step 1: Create an account or log in!
        <br>Step 2: Add climbers to make a team!
        <br>Step 3: Create or join a league, or just play by yourself!
        <br>Step 4: Nothing else....it's really that easy!
      </div>
</body>
</html>
